.toDoListItem {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 16px;
    padding: 4px;
    box-shadow: var(--boxShadow);
}
.done {
    text-decoration: line-through;
}
.toDoListItem > span {
    width: 100%;
}
.toDoListItem > div {
    display: flex;
    align-items: center;
    gap: 8px;
}
.editToDo {
    cursor: pointer; 
}
.removeIcon {
    cursor: pointer;
    width: 40px;
    height: 40px;
}